<style type="text/css" media="screen">
	div.wiki pre {
	background-color: inherit;
}
</style>
<div class="wiki">
	
  <%= textilizable content, :text, :attachments => content.page.attachments %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "uv_themes/#{Redmine::SyntaxHighlighting.highlighter.get_uv_theme_name}", :plugin => 'redmine_ultraviolet' %>
<% end %>
